/* Color Theme Swatches in Hex
.Simple-gray-Texture-Background-1-hex { color: #212226; }
.Simple-gray-Texture-Background-2-hex { color: #343840; }
.Simple-gray-Texture-Background-3-hex { color: #5F6673; }
.Simple-gray-Texture-Background-4-hex { color: #84878C; }
.Simple-gray-Texture-Background-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
/* .Simple-gray-Texture-Background-1-rgba { color: rgba(32, 33, 38, 1); }
.Simple-gray-Texture-Background-2-rgba { color: rgba(51, 55, 63, 1); }
.Simple-gray-Texture-Background-3-rgba { color: rgba(95, 101, 114, 1); }
.Simple-gray-Texture-Background-4-rgba { color: rgba(131, 134, 140, 1); }
.Simple-gray-Texture-Background-5-rgba { color: rgba(242, 242, 242, 1); } */

/* Color Theme Swatches in HSLA */
/* .Simple-gray-Texture-Background-1-hsla { color: hsla(225, 8, 13, 1); }
.Simple-gray-Texture-Background-2-hsla { color: hsla(219, 10, 22, 1); }
.Simple-gray-Texture-Background-3-hsla { color: hsla(219, 9, 41, 1); }
.Simple-gray-Texture-Background-4-hsla { color: hsla(219, 3, 53, 1); }
.Simple-gray-Texture-Background-5-hsla { color: hsla(0, 0, 95, 1); } */

/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
  font-family: "Raleway", sans-serif;
}

/*NORMAILIZE*/

* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
dd,
dt {
  padding: 0;
  margin: 0;
  display: inline-block;
}
span,
div,
code,
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/*NORMAILIZE*/
/*Default - Configuration*/
body {
  font-family: "Raleway", sans-serif;
  background: #212226;
  display: grid;
  grid-template-columns: minmax(0%, 1fr) 16px minmax(768px, 1280px) 16px minmax(
      0%,
      2fr
    );
  grid-template-rows: 16px 68px 311px minmax(520px, 546px);
}
nav {
  grid-row: 2/2;
  grid-column: 3/4;
  margin: 1.5em 0;
}
#home .top,
#knowledge,
#projects,
#contact {
  margin: 6em 0em;
}
#home {
  grid-row: 3/4;
  grid-column: 3/6;
}
#knowledge {
  grid-row: 4/5;
  grid-column: 3/4;
}
#projects {
  grid-row: 5/6;
  grid-column: 3/4;
}
#contact {
  grid-row: 6/7;
  grid-column: 3/4;
}
footer {
  grid-row: 7/8;
  grid-column: 1/6;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #f2f2f2;
}
h1,
h3 {
  font-size: 42px;
}
h2 {
  font-size: 24px;
  opacity: 0.7;
}
/*Default - Configuration*/
nav ul {
  display: flex;
}
nav li:first-child {
  margin-right: 1.5em;
}
nav li:last-child {
  margin-left: 1.5em;
}
nav li:nth-child(2),
nav li:nth-child(3) {
  margin: 0 1.5em;
}

#home {
  position: relative;
  background: linear-gradient(to right, #212226, #202125, #0000),
    url(/imgs/bgtop.jpg) center / cover no-repeat border-box;
  width: 100%;
  height: 311px;
}
#home .top {
  position: relative;
  display: flex;
  flex-direction: column;
}
#home .top::before {
  content: "";
  position: absolute;
  left: -9px;
  width: 4px;
  height: 78px;
  background: #f2f2f2;
  animation: typing 0.5s infinite;
}

@keyframes typing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#knowledge {
  display: grid;
  grid-template-columns: minmax(auto, 639px) 2px minmax(auto, 639px);
}
#knowledge .left {
  grid-column: 1/2;
  margin-right: 73px;
}
#knowledge .right {
  margin-left: 62px;
  display: grid;
  grid-column: 3/4;
  grid-template-columns: 6px 58px 8fr;
  grid-column-gap: 26px;
  grid-template-rows: repeat(3, 68px);
  grid-row-gap: 42px;
}
#knowledge .left .text {
  margin-top: 6px;
}

#knowledge .left p {
  display: inline;
  line-height: 32px;
  opacity: 0.7;
}
#knowledge .left img {
  display: inline;
  width: 177px;
  height: 177px;
  border-radius: 50%;
  float: right;
}
#knowledge .middle {
  display: block;
  width: 2px;
  background-color: aliceblue;
  height: 286px;
  margin: 0 1em;
}
#knowledge .right img {
  width: 58px;
  height: auto;
}
#knowledge .right span {
  display: block;
}
#knowledge .right .html {
  grid-column: 2/3;
  grid-row: 1/2;
}
#knowledge .right .css {
  grid-column: 2/3;
  grid-row: 2/3;
}

#knowledge .right .js {
  grid-column: 2/3;
  grid-row: 3/4;
}
#knowledge .right span:nth-child(2) {
  display: block;
  width: 100%;
  height: 18px;
  margin: 1.5em 0;
  background-color: #f36228;
  grid-column: 3/4;
  grid-row: 1/2;
}
#knowledge .right span:nth-child(4) {
  display: block;
  width: 100%;
  height: 18px;
  margin: 1.5em 0;
  background-color: #1882bc;
  grid-column: 3/4;
  grid-row: 2/3;
}

#knowledge .right span:nth-child(6) {
  display: block;
  width: 100%;
  height: 18px;
  margin: 1.5em 0;
  background-color: #f78827;
  grid-column: 3/4;
  grid-row: 3/4;
}
#projects {
  background: linear-gradient(to right, #2122261f, #5f66731f, #2122261f);
}
#projects .bg {
  display: grid;
  grid-template-columns: minmax(17px, 217px) 1fr 1fr 1fr minmax(17px, 217px);
  grid-template-rows: 46px repeat(2, 200px) 16px;
  row-gap: 16px;
  column-gap: 16px;
  margin: 12px 0;
  background: linear-gradient(to right, #212226, #5f6673, #212226);
}
#projects h3 {
  grid-column: 1/6;
}
#projects a {
  background-color: #343840;
  margin: auto 0;
  border-radius: 100px 0 100px 0;
}
#projects a img {
  width: 198px;
  height: auto;
  display: block;
  margin: 0 auto;
}
#projects a:nth-child(2) {
  grid-column: 2/3;
  grid-row: 2/3;
}
#projects a:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
}
#projects a:nth-child(4) {
  grid-column: 4/5;
  grid-row: 2/3;
}
#projects a:nth-child(5) {
  grid-column: 2/3;
  grid-row: 3/4;
}
#projects a:nth-child(6) {
  grid-column: 3/4;
  grid-row: 3/4;
}
#projects a:nth-child(7) {
  grid-column: 4/5;
  grid-row: 3/4;
}
#contact {
  display: grid;
  grid-template-rows: 120px repeat(3, 2.5fr);
  grid-template-columns: repeat(3, 1fr);
}
#contact h3 {
  grid-column: 1/4;
  text-align: center;
}
#contact a img {
  margin: 0 auto;
  display: block;
}
#contact a:nth-child(2) {
  grid-column: 1/2;
}
#contact a:nth-child(3) {
  grid-column: 2/3;
}
#contact a:nth-child(4) {
  grid-column: 3/4;
}
#contact a:nth-child(5) {
  background-color: #f2f2f2;
  color: #212226;
  grid-row: 4/5;
  grid-column: 2/3;
  text-align: center;
  padding: 1.5em 0;
  border-radius: 6px;
}
footer {
  text-align: center;
  background-color: #343840;
}

/*MEDIA MOBILE*/
@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: minmax(0%, 1fr) 16px minmax(768px, 1280px) 16px minmax(0%, 2fr);
    grid-template-rows: 16px 68px 286px 906px 726px 1fr 16px;
  }
  #knowledge{
    margin: 2em 0;
    grid-template-rows: 360px 2px 511px;
  }
  #knowledge .left {
    grid-column: 1/4;
    margin-right: 0;
  }
  #knowledge .middle {
    grid-column: 1/4;
    width: 100%;
    height: 2px;
  }
  #knowledge .right {
    margin-left: 0;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 6px 58px 8fr;
    grid-column-gap: 26px;
    grid-template-rows: 56px repeat(3, 68px);
    grid-row-gap: 42px;
    margin-top: 86px;
  }
}
